
.idea
Demo_dsbg0/.vs
Demo_dsbg0/Binaries/
Demo_dsbg0/Intermediate/
Demo_dsbg0/DerivedDataCache/
Demo_dsbg0/Saved/

Demo_dsbg0/Content/Res/
Demo_dsbg0/Content/StarterContent/

Demo_dsbg0/Plugins/UE2Py/Binaries/
Demo_dsbg0/Plugins/UE2Py/Intermediate/